*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5ABD6C;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo{
  width: 60px;
  margin-right: 45px;
}
.nav-left, .nav-right{
  display: flex;
  align-items: center;
}
.nav-left ul li{
  list-style: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 28px;
  margin: 0 15px;
}
.nav-user-icon img{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-user-icon{
  margin-left: 40px;
}
.search-box{
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img{
  width: 18px;
}
.search-box input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.online{
  position: relative;
}
.online::after{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
body {
  margin-top:20px;
  background-color:#f2f6fc;
  color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#underline {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
#underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#underline:hover:after {
  width: 100%;
  left: 0;
}
