*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.nav-text{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.text-secondary {
  color: #3d5d6f;
}

.h4,
h4 {
  font-size: 1.2rem;
}

h2 {
  color: #333;
}

.fa,
.fas {
  font-family: 'FontAwesome';
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.h-100 {
  height: 100%;
}

a.text-secondary:focus,
a.text-secondary:hover {
  text-decoration: none;
  color: #22343e;
}

#accordion .fa-plus {
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

#accordion a[aria-expanded=true] .fa-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5ABD6C;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo{
  width: 60px;
  margin-right: 45px;
}
.nav-left, .nav-right{
  display: flex;
  align-items: center;
}
.nav-left ul li{
  list-style: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 28px;
  margin: 0 15px;
}
.nav-user-icon img{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-user-icon{
  margin-left: 40px;
}
.search-box{
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img{
  width: 18px;
}
.search-box input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.online{
  position: relative;
}
.online::after{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
