{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style7.css' %}">



<div class="container">
		<div class="img">
			<img src="{% static '/images/1.png' %}">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="{% static '/images/logo_green.png' %}">
				<h2 class="title">Welcome to Unitree!</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
              <br>
            	<a href="{% url 'account_signup' %}">Don't have an account?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/js1.js' %}"></script>


{% endblock %}