{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style7.css' %}">

    <div class="container">
		<div class="img">
			<img src="{% static '/images/1.png' %}">
		</div>
		<div class="login-content">
			<form class="login" method="POST" action="{% url 'account_login' %}">
				<img src="{% static '/images/logo_green.png' %}">
				<h2 class="title">Welcome to Unitree!</h2>
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <br>
                <a href="{% url 'account_signup' %}">Don't have an account?</a>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/js1.js' %}"></script>


{% endblock %}